<simmit:authentication xmlns:simmit="https://proj.5nord.org/simmit/authentication" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://proj.5nord.org/simmit/authentication ../xml/authenticationDescription.xsd">
  <users>
    <user group="student" name="phia" password="3858f62230ac3c915f300c664312c63f" />
    <user group="student" name="alex" password="foobar" />
    <user group="staff" name="mrks" password="fnord" />
    <user group="admin" name="godmode" password="fnord23">
      <allow>
        <permission name="userlist" />
        <permission name="grouplist" />
      </allow>
    </user>
    <user name="bar" group="staff" password="foo" priority="1" />
  </users>
  <groups>
    <group name="any" />
    <group name="guest" supergroup="any" priority="1">
      <allow>
        <permission name="simulation">
          <action name="start" />
          <action name="abort" />
        </permission>
      </allow>
    </group>
    <group name="student" supergroup="any" priority="2">
      <allow>
        <permission name="simulation" />
      </allow>
    </group>
    <group name="staff" supergroup="student" priority="3">
      <allow>
        <permission name="simulation">
          <action name="start">
            <ongroup name="student" />
          </action>
          <action name="stop">
            <ongroup name="student" />
          </action>
        </permission>
        <permission name="userlist">
          <ongroup name="student" />
        </permission>
      </allow>
    </group>
    <group name="admin" priority="10">
      <allow>
        <permission name="admin" />
        <permission name="simulation" />
        <permission name="grouplist" />
        <permission name="userlist" />
        <permission name="simulationserver" />
      </allow>
      <deny>
        <permission name="userlist">
          <action name="remove">
            <ongroup name="admin" />
          </action>
        </permission>
        <permission name="grouplist">
          <action name="remove">
            <ongroup name="admin" />
          </action>
        </permission>
      </deny>
    </group>
  </groups>
  <permissions>
    <permission name="simulation">
      <action name="start" />
      <action name="stop" />
      <action name="restart" />
      <action name="show" />
      <action name="abort" />
      <action name="move" />
    </permission>
    <permission name="userlist">
      <action name="add" />
      <action name="remove" />
      <action name="edit" />
    </permission>
    <permission name="grouplist">
      <action name="add" />
      <action name="remove" />
      <action name="edit" />
    </permission>
    <permission name="simulationserver">
      <action name="add" />
      <action name="remove" />
    </permission>
    <permission name="admin">
      <action name="changeConfig" />
      <action name="ignoreUser" />
      <action name="ignoreGroup" />
      <description>Ignoriert Benutzerrechte. Vorsichtig einsetzen!!</description>
    </permission>
  </permissions>
</simmit:authentication>
