Ice.Default.Locator=IceGrid/Locator:tcp -h __NAMING_HOST__ -p __NAMING_PORT__

StormAdapter.Subscriber.Endpoints=tcp

xml.path2modules=__CWD__/__PATH_TO_MODULES__
xml.path2types=__CWD__/__PATH_TO_TYPES__
xml.path2jobs=__CWD__/__PATH_TO_JOBS__
xml.path2xsl=__CWD__/__PATH_TO_XML__
xml.path2xsd=__CWD__/__PATH_TO_XML__
xml.tempdir=__CWD__/__TEMP_DIR__
xml.sliceCompiler=__SLICE_COMPILER__

gui.properties=__CWD__/properties.xml
gui.pluginDir=__CWD__/__PLUGIN_DIR__
gui.iconDir=__CWD__/__PLUGIN_DIR__/icons
