IceGrid.Node.Endpoints=tcp -h __ENDPOINTS__
IceGrid.Node.Name=Center
IceGrid.Node.Data=__CWD__/center
IceGrid.Registry.DynamicRegistration=1  
IceGrid.Registry.DefaultTemplates=templates.xml
Ice.Default.Locator=IceGrid/Locator:tcp -h __NAMING_HOST__ -p __NAMING_PORT__
