IceGrid.Node.Endpoints=tcp -h __ENDPOINTS__ 
IceGrid.Node.Name=Node1
IceGrid.Node.Data=__CWD__/node
IceGrid.Registry.DynamicRegistration=1  
Ice.Default.Locator=IceGrid/Locator:tcp -h __NAMING_HOST__ -p __NAMING_PORT__

Config.WorkingDir = __CWD__/__WORKING_DIR__
