IceGrid.Registry.Client.Endpoints=tcp -h __NAMING_HOST__ -p __NAMING_PORT__
IceGrid.Registry.Server.Endpoints=tcp -h __NAMING_HOST__
IceGrid.Registry.Admin.Endpoints=tcp -h localhost
IceGrid.Registry.Internal.Endpoints=tcp -h __NAMING_HOST__
IceGrid.Registry.Data=__CWD__/registry
IceGrid.Registry.DynamicRegistration=1

IceGrid.Registry.DefaultTemplates=templates.xml
