config.host=__ENDPOINTS__
config.port=__SOURCE_PORT__

config.icepatch2calc=__SLICE_PATH__/../bin/icepatch2calc
config.tempdir=__SOURCE_TEMP_DIR__

config.svn.svncmd = __SVN_CMD__
config.svn.password=__SVN_PASSWORD__
config.svn.user=__SVN_USER__
config.svn.pathToRepository=__SVN_PATH_TO_REPOSITORY__
config.svn.pathInRepository=__SVN_PATH_IN_REPOSITORY__

config.file.path=__FILE_PATH__
